/* SPDX-License-Identifier: Apache-2.0 */

/dts-v1/;
#include <nations/n32g45x/n32g45xV.dtsi>
#include <nations/n32g45x/n32g45.dtsi>
#include "n32g45xv_stb-pinctrl.dtsi"

#include <./../../include/zephyr/dt-bindings/i2c/i2c.h>


/ {
	model = "n32g45xv_stb";
	compatible = "n32g45";
    

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};


	leds {
		compatible = "gpio-leds";
		green_led: led_1 {
			gpios = <&gpioa 8 GPIO_ACTIVE_HIGH>;
			label = "User LD1";
		};
		blue_led: led_2 {
			gpios = <&gpiob 4 GPIO_ACTIVE_HIGH>;
			label = "User LD2";
		};
		red_led: led_3 {
			gpios = <&gpiob 5 GPIO_ACTIVE_HIGH>;
			label = "User LD3";
		};
	};


	gpio_keys {
		compatible = "gpio-keys";
		key1: key_1 {
			label = "KEY1";
			gpios = <&gpioa 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		};
		key2: key_2 {
			label = "KEY2";
			gpios = <&gpioa 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		};
		key3: key_3 {
			label = "KEY3";
			gpios = <&gpioa 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		};
	};

	aliases {
		led0 = &green_led;
		led1 = &blue_led;
		led2 = &red_led;
		sw0  = &key1;
		sw1  = &key2;
		sw2  = &key3;
	};

};

&clk_lsi {
	status = "okay";
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(8)>;
	status = "okay";
};

&pll {
	mul = <18>;
	clocks = <&clk_hse>;
	status = "okay";
};


&rcc {
	
	clock-frequency = <DT_FREQ_M(144)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <2>;
	apb2-prescaler = <1>;
	
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&i2c1 {
	pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;
	pinctrl-names = "default";
    clock-frequency = <	I2C_BITRATE_STANDARD >;
    status = "okay";
};


&spi1 {
	pinctrl-0 = <&spi1_nss_master_pa4 
                 &spi1_sck_master_pa5
		         &spi1_miso_master_pa6 
                 &spi1_mosi_master_pa7>;
	pinctrl-names = "default";
	status = "okay";
};




&gpioa {
	status = "okay";
};

&gpiob {
	status = "okay";
};


&adc1 {
	pinctrl-0 = <&adc1_channel_01_pa0
                 &adc1_channel_02_pa1
                 &adc1_channel_03_pa6
                 &adc1_channel_04_pa3>;
	pinctrl-names = "default";
    status = "okay";
};


&can1 {
	pinctrl-0 = <&can1_rx_pa11  &can1_tx_pa12>;
	pinctrl-names = "default";
    bus-speed = <125000>;
    status = "okay";
};














